.AboutMoney {
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: Roboto, sans-serif;
}

.headding {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
}


.description {
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.03em;  
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  
}



@media (min-width: 480px) and (max-width: 767px) {
  .description {
    font-size: 16px;
  }

}

@media (min-width: 768px) and (max-width: 1200px) {
  .description {
    font-size: 18px;
    padding-right: 30px;
    padding-left: 30px;
  }

}

@media (min-width: 1200px) {
  .WhyItsImportant {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .headding {
    font-size: 30px;
    margin-bottom: 70px;
  }

  .description {
    font-size: 22px;
    /* padding-right: 120px;
    padding-left: 120px; */
  }  
}

@media (min-width: 1400px) {
  .WhyItsImportant {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
