.main { 
  margin-top: 61px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.heartImg {
  z-index: -1;
}

.mainHeader {
  position: absolute;
  font-family: Roboto;
  font-weight: 900;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase ;
  text-align: center;
}

.main button {
  min-width: 110px;
  margin-top: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  border-style: none;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
}

.wantHelpButton {

  background-color:#fbff06;
}

.needHelpButton {
  color: #FFFFFF;
  background-color:#2584CB;
}

.wantHelpButton:hover,
.wantHelpButton:focus,
.needHelpButton:hover,
.needHelpButton:focus {
 
  font-weight: 700;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 5px 8px 0 rgba(0,0,0,0.19);
  
}


@media (max-width: 479px) {
  .mainHeader {
    max-width: 280px;
  }

  .heartImg {
    width: 250px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .main { 
    margin-top: 70px;   
  }

  .mainHeader {
    font-size: 34px;
    max-width: 450px;
  }

  .heartImg {
    width: 350px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .main { 
    margin-top: 70px;   
  }

  .mainHeader {
    font-size: 48px;
    max-width: 580px;
  }

  .heartImg {
    max-width: 450px;
  }
}

@media (min-width: 1200px) {
  .main {
    margin-top: 70px;   
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .heartImg {
    width: 650px;
  }

  .mainHeader {
    font-size: 65px;
    width: 760px;
  }

  
  .main button {
    margin-top: 50px;
    padding: 15px 25px;
    min-width: 216px;
 }
}

@media (min-width: 1400px) {
  .main {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
