.WhyItsImportant {
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: Roboto;
  background-color: #2584CB;
}

.headding {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #FFFFFF;
}


.description {
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.03em;  
  font-size: 14px;
}



@media (min-width: 480px) and (max-width: 767px) {
  .description {
    font-size: 16px;
  }

}

@media (min-width: 768px) and (max-width: 1200px) {
  .description {
    font-size: 17px;
  }

}

@media (min-width: 1200px) {
  .WhyItsImportant {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .headding {
    font-size: 30px;
  }

  .description {
    font-size: 22px;
  }  
}

@media (min-width: 1400px) {
  .WhyItsImportant {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
