.HowToDonate {
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: Roboto;
  background-image: url('../../assets/dRKBanner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;;
}

.donateWrapper {
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.03em;  
  font-size: 14px;

  background-color: rgba(228, 228, 228, 0.6);
  border-radius: 5px;
  padding: 20px 10px;
}

.headding {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contactsWrapper{
  margin-bottom: 50px; 
}

/* .social {
  display: block;

} */


.requisites{
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  border: 2px solid #2584CB;
  border-radius: 5px;
  padding: 5px;
  max-width: 320px;
}


@media (min-width: 480px) and (max-width: 767px) {
  .requisites {
    max-width: 410px;
    padding: 20px;
  }

  .donateWrapper {       
    font-size: 16px;
    padding: 40px 30px;
  }

}

@media (min-width: 768px) and (max-width: 1200px) {
  .requisites {    
    max-width:500px;
    padding: 40px;
  }

  .donateWrapper {   
    font-size: 18px;
    padding: 40px 50px;
  }

}

@media (min-width: 1200px) {
  .WhyItsImportant {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .headding {
    font-size: 30px;
    margin-bottom: 70px;
  }

  .requisites {    
    max-width: 550px;
    padding: 40px;    
  }  

  .donateWrapper { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 22px;
    padding: 60px 50px;
  }
}

@media (min-width: 1400px) {
  .WhyItsImportant {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
