.HowToDonate {
  padding-top: 141px;
  padding-bottom: 80px;
  font-family: Roboto;
  background-image: url('../../assets/donate_bg_mobile-progressive.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  min-width: 100vw;
  font-family: Roboto, sans-serif;
}

.donateWrapper {
  margin:  0 auto;
}

.contactsWrapper{
  margin: 0 auto;  
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.03em;
  background-color: rgba(228, 228, 228, 0.7);
  border-radius: 5px;
  padding: 40px 15px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 5px 8px 0 rgba(0,0,0,0.19);
  margin-bottom: 50px; 
}

.headding {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.socialWrapper {
  display: flex;
  align-items: center;
}

.socialWrapper:not(:first-of-type) {
  margin-top: 20px;
}

.socialIcon {
  margin-right: 5px;
  width: 25px;
}

.requisites{
  margin: 0 auto;
  background-color: rgba(228, 228, 228, 0.7);
  border-radius: 5px;
  padding: 40px 10px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 5px 8px 0 rgba(0,0,0,0.19);
 
}


@media (min-width: 480px) and (max-width: 767px) {
  .requisites {
    font-size: 18px;
    padding: 40px 30px;
  }

  .contactsWrapper {
    font-size: 18px;
    padding: 40px 30px;
  }

}

@media (min-width: 768px) and (max-width: 1200px) {
  .HowToDonate {
    background-image: url('../../assets/donate_bg_tablet-progressive.jpeg');   
    min-height: calc(100vh - 170px);
  }
  
  .requisites {    
    font-size: 20px;
    padding: 40px 50px;
  }

  .contactsWrapper {
    font-size: 20px;
    padding: 40px 50px;
    
  }

  .socialIcon {
    margin-right: 10px;
    width: 30px;
  }
}

@media (min-width: 1200px) {
  .HowToDonate {
    background-image: url('../../assets/dRKBanner.jpg');   
    padding-top: 190px;
    padding-bottom: 120px;
  }

  .headding {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .donateWrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0;
  }

  .requisites {    
    font-size: 22px;
    padding: 40px 30px;  
  }  

  .contactsWrapper {
    font-size: 22px;
    padding: 40px 30px;
  }

  .socialIcon {
    margin-right: 10px;
    width: 30px;
  }
}

@media (min-width: 1400px) {
  .HowToDonate {
    padding-top: 210px;
    padding-bottom: 140px;
  }
}
