.header {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  font-family: Roboto, sans-serif;
 }
 

 .headerNav {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  font-size: 14px;
  font-weight: 700;
}

.headerNavItem {
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #757575;

  cursor: pointer;
  
}


.svitloDarLogo {
  width: 100%;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
}

.svitlo {
  color: #E7CE1C;
}

.dar {
  color: #2584CB;
}


.button{
  width: 30px;
  height: 30px;
  margin-left: auto;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  transition: 0.5s;
}

.button:hover,
.button:focus{
  transform: scale(1.1);
  transition: 0.5s;
}

@media (min-width: 480px) {
  .svitloDarLogo {
    font-size: 18px;
  }

  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .button{
    width: 40px;
    height: 40px;
  }
  
}