.header {
  display: flex;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 21px;

  font-family: Roboto, sans-serif;
 }

 .headerNav {
  display: flex;
  align-items: center;
}

.headerNavItem {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #757575;

  cursor: pointer;
}

.headerNavItem:not(:last-child) {
  margin-right: 40px;
}

.svitloDarLogo {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 22px;
  line-height: 20px;
}

.svitlo {
  color: #E7CE1C;
}

.dar {
  color: #2584CB;
}

.charityFund {
  color: #b9b9b9;
  font-weight: 800;
  font-size: 16.5px;
  
}

