.gallery {
  padding-top: 80px;
  padding-bottom: 80px;
  /* margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.galleryItem {
  max-width: 400px; */
  font-family: sans-serif;
  text-align: center;
}


.galleryItem img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    /* max-width: 620px; */
  }
  
  .galleryItem {
    display: flex;
    align-items: center;
    justify-content: center; 
    /* height:185px; */
    overflow: hidden;
  }
  
}

@media (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 120px;
    padding-bottom: 120px;
    /* max-width: 960px; */
  }
  /* .galleryItem {
    height:200px;
  } */
}

@media (min-width: 1400px) {
  .gallery {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}