.Certificates  {
  padding-top: 141px;
  padding-bottom: 80px;
  font-family: Roboto;
  background-color: rgb(224, 224, 224);
  
}

@media (min-width: 768px) and (max-width: 1200px) {
  .Certificates  {
    min-height: calc(100vh - 170px);
    
  }
 
}

@media (min-width: 1200px) {
  .Certificates  {
    padding-top: 190px;
    padding-bottom: 120px;    
  }
 
}

@media (min-width: 1400px) {
  .Certificates  {
    padding-top: 210px;
    padding-bottom: 140px;
  }
}